* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  font-size: 6.5vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 480px) {
  html,
  body {
    font-size: 32px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
